products - 
fiels - caption - question
requred yes - then show
category vechile - dont show

collateral , products , finance

control is dropdown - more than 4 then only dropdown

Getting dealer product --
   /*http://192.168.17.32:6100/api/dealer-products*/

Getting response to be mapped with dealer-product response
    //http://10.117.18.27:6220/Rating/RatingRESTAPI/json/requiredfields_json   
    ProductTypeCode" -  category_code
      "ProviderId" - provider_code
      "dealer_id" :ProviderDealerId
